<ion-view view-title="Ayuda">
    <ion-content>
        <div class="list">
        	<div class="item item-divider">
                Ayuda
            </div>
            <a class="item item-icon-right" ui-sref="menu.ayuda.comoComprar">
                Como comprar
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item  item-icon-right" ui-sref="menu.ayuda.videoTutorial">
                Video tutorial
                <i class="icon ion-ios-arrow-right"></i>
            </a>

        	<div class="item item-divider">
                Chasqui
            </div>
            <a class="item item-icon-right" ui-sref="menu.ayuda.acercaDeChasqui">
                Acerca de Chasqui
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" ui-sref="menu.ayuda.terminosYCondiciones">
                Terminos y condiciones
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        	<div class="item item-divider">
            </div>
        </div>
    </ion-content>
</ion-view>
